
    <div >
        

        <nav class="c-nav c-nav--inline">
            <a href="#" class="c-nav__item c-text--loud">My Dashboard</a>
            <a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i> Account</a>
            <a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-life-ring"></i> Help/Support</a>
            <a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-sliders"></i> Settings</a>
        </nav>
        <div class="o-grid o-panel o-panel--nav-top">
        <div class="o-grid__cell--width-15 o-grid__cell--hidden o-grid__cell--visible@large o-panel-container">
            <app-navmenu></app-navmenu>
        </div>
        <div class="o-grid__cell o-grid__cell--width-85@large o-panel-container" >
            <router-outlet></router-outlet>
        </div>
        
        <button class="c-button" type="button">Button</button>
    </div>
