
<div class="o-modal o-modal--full">
  <div class="c-card">
    <header class="c-card__header">
      <!--<button type="button" class="c-button c-button--close">×</button>-->
      <h2 class="c-heading">POSTS</h2>
    </header>
    <div class="c-card__body o-panel">
      <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{ post.title }}
    </li>
  
  </ul>
    </div>
    <!--<footer class="c-card__footer">
      <button type="button" class="c-button c-button--brand">Close</button>
    </footer>-->
  </div>
</div>
  

  
