<div>
  <h3>Users
<a [routerLink]="['/adduser']">
    <i class="fa fa-user-plus fa-align-right"  aria-hidden="true"></i>
</a>
</h3>
</div>
<div class="right-inner">
  
<!--<app-grid></app-grid>-->

  <md-nav-list>
    
    <md-list-item *ngFor="let user of users">
      <a md-line href="/userdetail">{{ user.firstName }}</a>
      <button md-icon-button (click)="showUserInfo(user)">
          <md-icon>info</md-icon>
      </button>
      <img md-list-avatar src="../assets/images/pic1.jpg" alt="...">
    </md-list-item>
  </md-nav-list>
</div>